@font-face {
  font-family: "iconfont"; /* Project id 3836160 */
  src: url('../font/iconfont.woff2?t=1671694462294') format('woff2'),
       url('../font/iconfont.woff?t=1671694462294') format('woff'),
       url('../font/iconfont.ttf?t=1671694462294') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-wode-wode:before {
  content: "\e60d";
}

.icon-fenlei:before {
  content: "\e62f";
}

